<!DOCTYPE html>
<html>
    <head> <title>Register</title> </head>
    <body>
        <h1> Register </h1>
        <form action="/register" method="POST">
            <label> Username</label>
            <input type="text" name="Username" placeholder="Enter your Username" required> <br>
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required> <br>
            <label>Password</label>
            <input type="password" name="password" placeholder="input password" required><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>